:root {
  --primary-color: #508991;
  --secondary-color: #8ecae6;
  --form-border-color: #172a3a;
  --button-color: #09bc8a;
  --prussian-blue: #172a3a70;
  --orange: #fb8500;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  background-color: var(--primary-color);
  color: white;
}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

.center {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div > input {
  margin: 0.5rem;
}

.login {
  border: solid 2px #777;
  width: 50%;
  background-color: aliceblue;
}

a.text {
  text-decoration: none;
  font-weight: 700;
}

form {
  padding: 3px;
  width: 500px;
}

form input {
  background-color: #eee;
  border: var(--form-border-color) solid 2px;
  border-radius: 0.5em;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}

form button {
  color: white;
  width: 9%;
  background: var(--button-color);
  border-radius: 0.5em;
  padding: 10px;
}

#messages {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 20em;
  overflow: scroll;
  overflow-x: hidden;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: var(--prussian-blue);
}

#chatform {
  display: flex;
}

#send {
  width: auto;
}
